@font-face{
    font-family: myFont;
    src: (font.ttf.ttf);
}
#nav{
    font-family: myFont;
    display: flex;
    gap: 20px;
    list-style-type: none;
    justify-content: center;
    background-color: rgba(255, 100, 0.8, 0.5);
    height: 80px;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: flex-end;
}
a{
    text-decoration: none;
}
.content{
    display: flex;
    width: 1500px;

}                
.item{
    flex-basis: 300px;
    border: 2px solid red;
}                
.itemGrow{
    flex-grow: 3;
    border: 2px solid blue;
}
.itemShrink{
    flex-shrink: 2;
    border: 2px solid black;
}
.order{
    display: flex;
}
.box1{
    order: 3;
}
.box2{
    order: 2;
}
.box3{
    order: 4;
}
.box4{
    order: 5;
}
.box5{
    order: 1;
}
.basis{
    display: flex;
    width: 1000px;
}
.items{
    flex-basis: 200px;
    border: 2px solid black;
}
