*{
    border: 1px solid grey;
    margin: 0;
    padding: 0;
    text-align: center;
}
table{
    background-color: aqua;
    border: 4px dotted black;
    color: red;
    padding :100px;
    text-align: left;
    
}
.form1{
    margin: 50px 10px 40px 20px;

    text-align: center;
    border: 2px solid red;
    padding: 50px 15px 40px 20px;
    background-color: burlywood;
    background-image: url(seven.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}
#table1{
    background-color: beige;
    text-align: center;
    margin: 0px 50px;
    
}
ul li{
    color: chartreuse;
}
h1,h2,h3{
    color:purple;
    text-align: center;
}