
nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: beige;
}
.left ul{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.left ul li{
    list-style: none;
    
}
.logo img{
    height: 100px;
}
a{
    text-decoration: none;
    font-weight: bold;
}
.right{
    margin-left:auto;
    display: flex;
    align-items: center;
}
.right ul  {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}
button{
    border: 2px solid red;
    margin-right: 30px;
    padding: 7px;
    color: red;
}
.landing img{
    height: fit-content;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.text button{
    border: 2px solid red;
    padding: 20px;
    color: red;
}